{:require [flea-mime.core]
 :compiler-options {:optimizations :simple
                    :static-fns true
                    :fn-invoke-direct true
                    :target :nodejs
                    :optimize-constants true}}
